# Choropleth Maps

## Offline Plotly Usage

Get imports and set everything up to be working offline.

In [1]:
import plotly.plotly as py
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

Now set up everything so that the figures show up in the notebook:

In [2]:
init_notebook_mode(connected=True)

More info on other options for Offline Plotly usage can be found [here](https://plot.ly/python/offline/).

## Choropleth US Maps

Plotly's mapping can be a bit hard to get used to at first, remember to reference the cheat sheet in the data visualization folder, or [find it online here](https://images.plot.ly/plotly-documentation/images/python_cheat_sheet.pdf).

In [3]:
import pandas as pd

Now we need to begin to build our data dictionary. Easiest way to do this is to use the **dict()** function of the general form:

* type = 'choropleth',
* locations = list of states
* locationmode = 'USA-states'
* colorscale= 

Either a predefined string:

    'pairs' | 'Greys' | 'Greens' | 'Bluered' | 'Hot' | 'Picnic' | 'Portland' | 'Jet' | 'RdBu' | 'Blackbody' | 'Earth' | 'Electric' | 'YIOrRd' | 'YIGnBu'

or create a [custom colorscale](https://plot.ly/python/heatmap-and-contour-colorscales/)

* text= list or array of text to display per point
* z= array of values on z axis (color of state)
* colorbar = {'title':'Colorbar Title'})

Here is a simple example:

In [4]:
data = dict(type = 'choropleth',
            locations = ['AZ','CA','NY'],
            locationmode = 'USA-states',
            colorscale= 'Portland',
            text= ['text1','text2','text3'],
            z=[1.0,2.0,3.0],
            colorbar = {'title':'Colorbar Title'})

Then we create the layout nested dictionary:

In [5]:
layout = dict(geo = {'scope':'usa'})

Then we use: 

    go.Figure(data = [data],layout = layout)
    
to set up the object that finally gets passed into iplot()

In [6]:
choromap = go.Figure(data = [data],layout = layout)

In [7]:
iplot(choromap)

### Real Data US Map Choropleth

Now let's show an example with some real data as well as some other options we can add to the dictionaries in data and layout.

In [8]:
df = pd.read_csv('2011_US_AGRI_Exports')
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...

Now out data dictionary with some extra marker and colorbar arguments:

In [14]:
data = dict(type='choropleth',
            colorscale = 'YlOrRd',
            locations = df['code'],
            z = df['total exports'],
            locationmode = 'USA-states',
            text = df['text'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Millions USD"}
            )

And our layout dictionary with some more arguments:

In [17]:
layout = dict(title = '2011 US Agriculture Exports by State',
              geo = dict(scope='usa',
                         showlakes = True,
                         lakecolor = 'rgb(85,173,240)')
             )

In [18]:
choromap = go.Figure(data = [data],layout = layout)

In [19]:
iplot(choromap)

# World Choropleth Map

Now let's see an example with a World Map:

In [20]:
df = pd.read_csv('2014_World_GDP')
df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [24]:
data = dict(
        type = 'earth',
        locations = df['CODE'],
        z = df['GDP (BILLIONS)'],
        text = df['COUNTRY'],
        colorbar = {'title' : 'GDP Billions US'},
      )

In [25]:
layout = dict(
    title = '2014 Global GDP',
    geo = dict(
        showframe = False,
        projection = {'type':'Mercator'}
    )
)

In [26]:
choromap = go.Figure(data = [data],layout = layout)
iplot(choromap)

ValueError:
    Invalid element(s) received for the 'data' property of
        Invalid elements include: [{'type': 'earth', 'locations': 0      AFG
1      ALB
2      DZA
3      ASM
4      AND
5      AGO
6      AIA
7      ATG
8      ARG
9      ARM
10     ABW
11     AUS
12     AUT
13     AZE
14     BHM
15     BHR
16     BGD
17     BRB
18     BLR
19     BEL
20     BLZ
21     BEN
22     BMU
23     BTN
24     BOL
25     BIH
26     BWA
27     BRA
28     VGB
29     BRN
      ...
192    SWE
193    CHE
194    SYR
195    TWN
196    TJK
197    TZA
198    THA
199    TLS
200    TGO
201    TON
202    TTO
203    TUN
204    TUR
205    TKM
206    TUV
207    UGA
208    UKR
209    ARE
210    GBR
211    USA
212    URY
213    UZB
214    VUT
215    VEN
216    VNM
217    VGB
218    WBG
219    YEM
220    ZMB
221    ZWE
Name: CODE, Length: 222, dtype: object, 'z': 0         21.71
1         13.40
2        227.80
3          0.75
4          4.80
5        131.40
6          0.18
7          1.24
8        536.20
9         10.88
10         2.52
11      1483.00
12       436.10
13        77.91
14         8.65
15        34.05
16       186.60
17         4.28
18        75.25
19       527.80
20         1.67
21         9.24
22         5.20
23         2.09
24        34.08
25        19.55
26        16.30
27      2244.00
28         1.10
29        17.43
         ...
192      559.10
193      679.00
194       64.70
195      529.50
196        9.16
197       36.62
198      373.80
199        4.51
200        4.84
201        0.49
202       29.63
203       49.12
204      813.30
205       43.50
206        0.04
207       26.09
208      134.90
209      416.40
210     2848.00
211    17420.00
212       55.60
213       63.08
214        0.82
215      209.20
216      187.80
217        5.08
218        6.64
219       45.45
220       25.61
221       13.74
Name: GDP (BILLIONS), Length: 222, dtype: float64, 'text': 0                 Afghanistan
1                     Albania
2                     Algeria
3              American Samoa
4                     Andorra
5                      Angola
6                    Anguilla
7         Antigua and Barbuda
8                   Argentina
9                     Armenia
10                      Aruba
11                  Australia
12                    Austria
13                 Azerbaijan
14               Bahamas, The
15                    Bahrain
16                 Bangladesh
17                   Barbados
18                    Belarus
19                    Belgium
20                     Belize
21                      Benin
22                    Bermuda
23                     Bhutan
24                    Bolivia
25     Bosnia and Herzegovina
26                   Botswana
27                     Brazil
28     British Virgin Islands
29                     Brunei
                ...
192                    Sweden
193               Switzerland
194                     Syria
195                    Taiwan
196                Tajikistan
197                  Tanzania
198                  Thailand
199               Timor-Leste
200                      Togo
201                     Tonga
202       Trinidad and Tobago
203                   Tunisia
204                    Turkey
205              Turkmenistan
206                    Tuvalu
207                    Uganda
208                   Ukraine
209      United Arab Emirates
210            United Kingdom
211             United States
212                   Uruguay
213                Uzbekistan
214                   Vanuatu
215                 Venezuela
216                   Vietnam
217            Virgin Islands
218                 West Bank
219                     Yemen
220                    Zambia
221                  Zimbabwe
Name: COUNTRY, Length: 222, dtype: object, 'colorbar': {'title': 'GDP Billions US'}}]

    The 'data' property is a tuple of trace instances
    that may be specified as:
      - A list or tuple of trace instances
        (e.g. [Scatter(...), Bar(...)])
      - A list or tuple of dicts of string/value properties where:
        - The 'type' property specifies the trace type
            One of: ['area', 'bar', 'barpolar', 'box',
                     'candlestick', 'carpet', 'choropleth', 'cone',
                     'contour', 'contourcarpet', 'funnel',
                     'funnelarea', 'heatmap', 'heatmapgl',
                     'histogram', 'histogram2d',
                     'histogram2dcontour', 'isosurface', 'mesh3d',
                     'ohlc', 'parcats', 'parcoords', 'pie',
                     'pointcloud', 'sankey', 'scatter',
                     'scatter3d', 'scattercarpet', 'scattergeo',
                     'scattergl', 'scattermapbox', 'scatterpolar',
                     'scatterpolargl', 'scatterternary', 'splom',
                     'streamtube', 'sunburst', 'surface', 'table',
                     'violin', 'volume', 'waterfall']

        - All remaining properties are passed to the constructor of
          the specified trace type

        (e.g. [{'type': 'scatter', ...}, {'type': 'bar, ...}])